{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

<header class="header-section">
  <div class="intro-header">
    <div class="container-md">
      <div class="row">
        <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
          <div class="page-heading">
            <h1>{{ page.title | strip_html }}</h1>
            {% if page.subtitle %}
              <h2 class="page-subheading">{{ page.subtitle | strip_html }}</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if page.header-extra %}
    {% for file in page.header-extra %}
      {% include {{ file }} %}
    {% endfor %}
  {% endif %}
</header>